.order-detail-detail-container {
  height: 45vh;
  overflow: auto;
}

.order-detail-item {
  padding-top: 8px;
}

.order-detail-card {
  display: flex;
  height: 150px;
}

.order-detail-image {
  width: 151px;
}

.order-detail-content {
  flex: 1 0 auto;
  max-width: 200px;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.quantity-modifier {
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: transparent;
  color: #333;
  cursor: pointer;
}

.modifier-left {
  margin-right: 4px;
}

.modifier-right {
  margin-left: 4px;
}

.quantity-display {
  width: 80px;
  height: 150px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
  margin: 0 4px;
}